@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

.header {
  line-height: 1.5;
  max-height: 100vh;
  text-align: center;
  background-color: #f5f5f5;
  padding: 2rem;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1); 
}

/* Navigation Styles */

.navbar-container {
  max-width: 1200px; /* Match the content width */
  margin: 0 auto; /* Center it */
  padding: 0 1rem; /* Add some padding */
}

nav {
  font-size: 14px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  transition: color 0.2s ease-in-out, border-bottom 0.3s ease;
}

nav a:hover {
  color: #42b983; 
  border-bottom: 2px solid #42b983;
}

nav a.router-link-exact-active {
  color: #42b983;
  border-bottom: 2px solid #42b983;
}

.gradient-circle {
  width: 700px;
  height: 700px;
  background: radial-gradient(circle, rgba(23, 214, 102, 0.6) 0%, rgba(0,0,0,0) 70%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.gradient-circle-sign-up {
  width: 1100px;
  height: 900px;
  background: radial-gradient(circle, rgba(23, 214, 102, 0.6) 0%, rgba(0,0,0,0) 70%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.relative-container {
  position: relative;
  z-index: 1; /* Allow the circle to be placed behind content */
}

.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}

/* Responsive Media Queries */
@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    text-align: left;
    box-shadow: 0 4px 10px rgba(23, 214, 102, 0.6); 
  }

  .logo {
    margin: 0;
  }

  .wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 0;
    justify-content: flex-start;
  }

  nav a {
    font-size: 1rem;
  }
}

/* Dust container styles */
.dust-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

/* Dust particle styles */
.dust {
  position: absolute;
  background-color: rgba(0, 255, 0, 0.5); /* Green dust */
  border-radius: 50%;
  animation: floatDust 10s infinite linear; /* Make animation smoother and slower */
  opacity: 0.8;
}

/* Dust floating animation */
@keyframes floatDust {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-80px) scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-150px) scale(1);
    opacity: 0;
  }
}